* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --primary: #002E5F;
    --secondary: #EDEDED;
    --text: #111111;
    --gold: #FFB200;
    --accenr: #53B94D;
    --white: #ffffff;
    --light: #F5F5F1;
}
html {
    color: var(--primary);
    font-size: 10px;
    line-height: 1.5;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
h1[class],
h2[class],
h3[class],
h4[class],
h5[class],
h6[class],
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child,
dl:last-child,
table:last-child,
blockquote:last-child {
    margin-bottom: 0;
}
body {
    margin: 0;
    padding: 0;
    color: var(--primary);
    font-family: 'Work Sans', Arial, Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    background-color: var(--white);
    overflow-x: hidden;
}
body p,
body .elementor-widget-container,
body .elementor-image-box-description,
body .elementor-widget-call-to-action .elementor-cta__description,
html body .elementor-widget-call-to-action .elementor-cta__description.elementor-cta__content-item {
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    color: inherit;
    font-weight: inherit;
}
p {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    line-height: inherit;
    font-weight: inherit;
    text-transform: inherit;
}
.elementor-text-editor p {
	font-size: inherit;
	font-family: inherit;
	color: inherit;
	line-height: inherit;
	font-weight: inherit;
	text-transform: inherit;
}
a {
    font-family: inherit;
    font-weight: inherit;
    text-decoration: underline;
    color: var(--primary);
    font-size: inherit;
    transition: all 0.3s;
}
.elementor p a {
    font-weight: 700;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
    color: var(--primary);
}
body a:hover,
body p a:hover {
    color: var(--primary);
    text-decoration: none;
}
body .elementor-widget-heading h1.elementor-heading-title,
body h1,
body .h1,
body .elementor-widget-heading.h1 .elementor-heading-title,
h1.elementor-cta__title.elementor-cta__content-item {
    font-family: "Montserrat", Arial, Sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 120%;
}
body .elementor-widget-heading h2.elementor-heading-title,
body h2,
body .h2,
body .elementor-widget-heading.h2 .elementor-heading-title,
body .elementor-widget-animated-headline.h2 .elementor-headline,
h2.elementor-cta__title.elementor-cta__content-item,
body .elementor-image-box-content h2.elementor-image-box-title,
.elementor-posts .elementor-post__card h2.elementor-post__title,
.elementor-posts h2.elementor-post__title {
    font-family: "Montserrat", Arial, Sans-serif;
    font-size: 44px;
    font-weight: 700;
    line-height: 120%;
}
body .elementor-widget-heading h3.elementor-heading-title,
body h3,
body .h3,
body .elementor-widget-heading.h3 .elementor-heading-title,
h3.elementor-cta__title.elementor-cta__content-item,
body .elementor-image-box-content h3.elementor-image-box-title,
.elementor-posts .elementor-post__card h3.elementor-post__title,
.elementor-posts h3.elementor-post__title {
    font-family: "Montserrat", Arial, Sans-serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 120%;
}
body .elementor-widget-heading h4.elementor-heading-title,
body h4,
body .h4,
body .elementor-widget-heading.h4 .elementor-heading-title,
h4.elementor-cta__title.elementor-cta__content-item,
body .elementor-image-box-content h4.elementor-image-box-title,
.elementor-posts .elementor-post__card h4.elementor-post__title,
.elementor-posts h4.elementor-post__title {
    font-family: "Montserrat", Arial, Sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 125%;
}
body .elementor-widget-heading h5.elementor-heading-title,
body h5,
body .h5,
body .elementor-widget-heading.h5 .elementor-heading-title,
h5.elementor-cta__title.elementor-cta__content-item,
body .elementor-image-box-content h5.elementor-image-box-title,
.elementor-posts .elementor-post__card h5.elementor-post__title,
.elementor-posts h5.elementor-post__title {
    font-family: "Montserrat", Arial, Sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 125%;
}
body .elementor-widget-heading h6.elementor-heading-title,
body h6,
body .h6,
body .elementor-widget-heading.h6 .elementor-heading-title,
h6.elementor-cta__title.elementor-cta__content-item,
body .elementor-image-box-content h6.elementor-image-box-title,
.elementor-posts .elementor-post__card h6.elementor-post__title,
.elementor-posts h6.elementor-post__title {
    font-family: "Montserrat", Arial, Sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 125%;
}
body p.lead-text,
body .lead-text p,
body .lead-text.elementor-widget-text-editor,
body .lead-text.elementor-widget-text-editor p,
body .lead-text .elementor-widget-text-editor,
body .lead-text .elementor-widget-text-editor p,
.lead-text .elementor-cta__description.elementor-cta__content-item {
    font-size: 20px;
    line-height: 160%;
    font-weight: 500;
}
body .small-text.elementor-widget-text-editor,
body .small-text.elementor-widget-text-editor p,
body .small-text .elementor-widget-text-editor,
body .small-text .elementor-widget-text-editor p,
.small-text .elementor-cta__description.elementor-cta__content-item {
    font-size: 16px;
    line-height: 160%;
    font-weight: 400;
}
/* / --------Button style------------ / */
.forms-wrapper [type="submit"],
body .elementor-widget-button [type="button"]:not(.gm-control-active),
body .elementor-widget-button [type="submit"]:not(.adminbar-button),
body .elementor-button,
body .elementor-widget-button .elementor-button,
body .elementor-widget-button [type="button"]:not(.gm-control-active):focus,
body .elementor-widget-button [type="button"]:not(.gm-control-active),
body .elementor-widget-button [type="submit"]:not(.adminbar-button):focus,
body .elementor-widget-button button:not(.gm-control-active):focus,
body .elementor-widget-button button:not(.gm-control-active),
body .elementor-widget-button .elementor-cta .elementor-cta__button.elementor-button,
body .elementor-widget-button .elementor-kit-7 .elementor-button:focus,
body .elementor-widget-button .elementor-cta--skin-classic .elementor-cta__button.elementor-button,
body .elementor-widget-call-to-action .elementor-cta__button.elementor-button,
.elementor-widget-form .elementor-field-type-submit .elementor-button[type="submit"] {
    color: var(--white);
    background-color: var(--primary);
    font-size: 16px !important;
    line-height: 22px;
    padding: 11px 24px 11px;
    font-weight: 600 !important;
    border: 1px solid var(--primary);
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    -webkit-appearance: none;
    transition: all 0.3s;
    box-sizing: border-box;
    font-family: "Work Sans", Arial, Sans-serif;
    max-width: 100%;
    text-transform: uppercase;
    letter-spacing: 0.4px;
}
.forms-wrapper [type="submit"]:hover,
body .elementor-widget-button [type="button"]:not(.gm-control-active):hover,
body .elementor-widget-button [type="submit"]:not(.adminbar-button):hover,
body .elementor-widget-button .elementor-button:hover,
body .elementor-button:hover,
body .elementor-widget-button [type="button"]:not(.gm-control-active):focus:hover,
body .elementor-widget-button [type="button"]:not(.gm-control-active):hover,
body .elementor-widget-button [type="submit"]:not(.adminbar-button):focus:hover,
body .elementor-widget-button button:not(.gm-control-active):focus:hover,
body .elementor-widget-button button:not(.gm-control-active):hover,
body .elementor-widget-button .elementor-cta .elementor-cta__button.elementor-button:hover,
body .elementor-widget-button .elementor-kit-7 .elementor-button:focus:hover,
body .elementor-widget-button .elementor-cta--skin-classic .elementor-cta__button.elementor-button:hover,
body .elementor-widget-call-to-action .elementor-cta__button.elementor-button:hover,
.elementor-widget-form .elementor-field-type-submit .elementor-button[type="submit"]:hover {
    background-color: var(--white);
    color: var(--primary);
}

body .elementor-widget-button.white-btn [type="button"]:not(.gm-control-active),
body .elementor-widget-button.white-btn [type="submit"]:not(.adminbar-button),
body .white-btn .elementor-button,
body .elementor-widget-button.white-btn .elementor-button,
body .elementor-widget-button.white-btn [type="button"]:not(.gm-control-active):focus,
body .elementor-widget-button.white-btn [type="button"]:not(.gm-control-active),
body .elementor-widget-button.white-btn [type="submit"]:not(.adminbar-button):focus,
body .elementor-widget-button.white-btn button:not(.gm-control-active):focus,
body .elementor-widget-button.white-btn button:not(.gm-control-active),
body .elementor-widget-button.white-btn .elementor-cta .elementor-cta__button.elementor-button,
body .elementor-widget-button.white-btn .elementor-kit-7 .elementor-button:focus,
body .elementor-widget-button.white-btn .elementor-cta--skin-classic .elementor-cta__button.elementor-button,
body .elementor-widget-call-to-action.white-btn .elementor-cta__button.elementor-button,
.white-btn.elementor-widget-form .elementor-field-type-submit .elementor-button[type="submit"] {
    color: var(--primary);
    background-color: var(--white);
    border: 1px solid var(--white);
}
body .elementor-widget-button.white-btn [type="button"]:not(.gm-control-active):hover,
body .elementor-widget-button.white-btn [type="submit"]:not(.adminbar-button):hover,
body .elementor-widget-button.white-btn .elementor-button:hover,
body .white-btn .elementor-button:hover,
body .elementor-widget-button.white-btn [type="button"]:not(.gm-control-active):focus:hover,
body .elementor-widget-button.white-btn [type="button"]:not(.gm-control-active):hover,
body .elementor-widget-button.white-btn [type="submit"]:not(.adminbar-button):focus:hover,
body .elementor-widget-button.white-btn button:not(.gm-control-active):focus:hover,
body .elementor-widget-button.white-btn button:not(.gm-control-active):hover,
body .elementor-widget-button.white-btn .elementor-cta .elementor-cta__button.elementor-button:hover,
body .elementor-widget-button.white-btn .elementor-kit-7 .elementor-button:focus:hover,
body .elementor-widget-button.white-btn .elementor-cta--skin-classic .elementor-cta__button.elementor-button:hover,
body .elementor-widget-call-to-action.white-btn .elementor-cta__button.elementor-button:hover,
.white-btn.elementor-widget-form .elementor-field-type-submit .elementor-button[type="submit"]:hover {
    background-color: var(--secondary);
    color: var(--primary);
}
.elementor-widget-form .elementor-field-type-submit {
    text-align: center;
}
.elementor-widget-form .elementor-field-type-submit .elementor-button[type="submit"] {
    max-width: max-content;
    margin: 0 auto;
    min-width: 220px;
}
.elementor-widget-form .elementor-message.elementor-help-inline {
    font-size: 11px;
    line-height: 1.2;
    margin: 4px 0 0;
    display: inline-block
}
.elementor-widget-form .elementor-message:not(.elementor-help-inline) {
    text-align: center;
    font-weight: 500;
}
.elementor-widget-form .elementor-field-group {
    display: block !important
/*     align-items: space-between; */
    
}
.hidden {
    display: none;
}
.overflow-hidden {
    overflow: hidden;
}
.left-aligned > .e-con-inner {
    margin-left: 0 !important;
}

@media only screen and (min-width: 1025px) {
   
}

@media only screen and (max-width: 1024px) {
    body .elementor-widget-heading h1.elementor-heading-title,
    body h1,
    body .h1,
    body .elementor-widget-heading.h1 .elementor-heading-title,
    h1.elementor-cta__title.elementor-cta__content-item {
        font-size: 40px;
    }
    body .elementor-widget-heading h2.elementor-heading-title,
    body h2,
    body .h2,
    body .elementor-widget-heading.h2 .elementor-heading-title,
    body .elementor-widget-animated-headline.h2 .elementor-headline,
    h2.elementor-cta__title.elementor-cta__content-item,
    body .elementor-image-box-content h2.elementor-image-box-title,
    .elementor-posts .elementor-post__card h2.elementor-post__title,
    .elementor-posts h2.elementor-post__title {
        font-size: 36px;
    }
    body .elementor-widget-heading h3.elementor-heading-title,
    body h3,
    body .h3,
    body .elementor-widget-heading.h3 .elementor-heading-title,
    h3.elementor-cta__title.elementor-cta__content-item,
    body .elementor-image-box-content h3.elementor-image-box-title,
    .elementor-posts .elementor-post__card h3.elementor-post__title,
    .elementor-posts h3.elementor-post__title {
        font-size: 32px;
    }
    body .elementor-widget-heading h4.elementor-heading-title,
    body h4,
    body .h4,
    body .elementor-widget-heading.h4 .elementor-heading-title,
    h4.elementor-cta__title.elementor-cta__content-item,
    body .elementor-image-box-content h4.elementor-image-box-title,
    .elementor-posts .elementor-post__card h4.elementor-post__title,
    .elementor-posts h4.elementor-post__title {
        font-size: 28px;
    }
    body .elementor-widget-heading h5.elementor-heading-title,
    body h5,
    body .h5,
    body .elementor-widget-heading.h5 .elementor-heading-title,
    h5.elementor-cta__title.elementor-cta__content-item,
    body .elementor-image-box-content h5.elementor-image-box-title,
    .elementor-posts .elementor-post__card h5.elementor-post__title,
    .elementor-posts h5.elementor-post__title {
        font-size: 20px;
    }
    body .elementor-widget-heading h6.elementor-heading-title,
    body h6,
    body .h6,
    body .elementor-widget-heading.h6 .elementor-heading-title,
    h6.elementor-cta__title.elementor-cta__content-item,
    body .elementor-image-box-content h6.elementor-image-box-title,
    .elementor-posts .elementor-post__card h6.elementor-post__title,
    .elementor-posts h6.elementor-post__title {
        font-size: 18px;
    }
    body p.lead-text,
    body .lead-text p,
    body .lead-text.elementor-widget-text-editor,
    body .lead-text.elementor-widget-text-editor p,
    body .lead-text .elementor-widget-text-editor,
    body .lead-text .elementor-widget-text-editor p,
    .lead-text .elementor-cta__description.elementor-cta__content-item {
        font-size: 18px;
    }
    body .small-text.elementor-widget-text-editor,
    body .small-text.elementor-widget-text-editor p,
    body .small-text .elementor-widget-text-editor,
    body .small-text .elementor-widget-text-editor p,
    .small-text .elementor-cta__description.elementor-cta__content-item {
        font-size: 14px;
    }
    .forms-wrapper [type="submit"],
    body .elementor-widget-button [type="button"]:not(.gm-control-active),
    body .elementor-widget-button [type="submit"]:not(.adminbar-button),
    body .elementor-button,
    body .elementor-widget-button .elementor-button,
    body .elementor-widget-button [type="button"]:not(.gm-control-active):focus,
    body .elementor-widget-button [type="button"]:not(.gm-control-active),
    body .elementor-widget-button [type="submit"]:not(.adminbar-button):focus,
    body .elementor-widget-button button:not(.gm-control-active):focus,
    body .elementor-widget-button button:not(.gm-control-active),
    body .elementor-widget-button .elementor-cta .elementor-cta__button.elementor-button,
    body .elementor-widget-button .elementor-kit-7 .elementor-button:focus,
    body .elementor-widget-button .elementor-cta--skin-classic .elementor-cta__button.elementor-button,
    body .elementor-widget-call-to-action .elementor-cta__button.elementor-button {
        font-size: 16px !important;
    }
}

@media only screen and (max-width: 767px) {
    body .elementor-widget-heading h1.elementor-heading-title,
    body h1,
    body .h1,
    body .elementor-widget-heading.h1 .elementor-heading-title,
    h1.elementor-cta__title.elementor-cta__content-item {
        font-size: 32px;
    }
    body .elementor-widget-heading h2.elementor-heading-title,
    body h2,
    body .h2,
    body .elementor-widget-heading.h2 .elementor-heading-title,
    body .elementor-widget-animated-headline.h2 .elementor-headline,
    h2.elementor-cta__title.elementor-cta__content-item,
    body .elementor-image-box-content h2.elementor-image-box-title,
    .elementor-posts .elementor-post__card h2.elementor-post__title,
    .elementor-posts h2.elementor-post__title {
        font-size: 28px;
    }
    body .elementor-widget-heading h3.elementor-heading-title,
    body h3,
    body .h3,
    body .elementor-widget-heading.h3 .elementor-heading-title,
    h3.elementor-cta__title.elementor-cta__content-item,
    body .elementor-image-box-content h3.elementor-image-box-title,
    .elementor-posts .elementor-post__card h3.elementor-post__title,
    .elementor-posts h3.elementor-post__title {
        font-size: 24px;
    }
    body .elementor-widget-heading h4.elementor-heading-title,
    body h4,
    body .h4,
    body .elementor-widget-heading.h4 .elementor-heading-title,
    h4.elementor-cta__title.elementor-cta__content-item,
    body .elementor-image-box-content h4.elementor-image-box-title,
    .elementor-posts .elementor-post__card h4.elementor-post__title,
    .elementor-posts h4.elementor-post__title {
        font-size: 20px;
    }
    body .elementor-widget-heading h5.elementor-heading-title,
    body h5,
    body .h5,
    body .elementor-widget-heading.h5 .elementor-heading-title,
    h5.elementor-cta__title.elementor-cta__content-item,
    body .elementor-image-box-content h5.elementor-image-box-title,
    .elementor-posts .elementor-post__card h5.elementor-post__title,
    .elementor-posts h5.elementor-post__title {
        font-size: 18px;
    }
    body .elementor-widget-heading h6.elementor-heading-title,
    body h6,
    body .h6,
    body .elementor-widget-heading.h6 .elementor-heading-title,
    h6.elementor-cta__title.elementor-cta__content-item,
    body .elementor-image-box-content h6.elementor-image-box-title,
    .elementor-posts .elementor-post__card h6.elementor-post__title,
    .elementor-posts h6.elementor-post__title {
        font-size: 16px;
    }
    body p.lead-text,
    body .lead-text p,
    body .lead-text.elementor-widget-text-editor,
    body .lead-text.elementor-widget-text-editor p,
    body .lead-text .elementor-widget-text-editor,
    body .lead-text .elementor-widget-text-editor p,
    .lead-text .elementor-cta__description.elementor-cta__content-item {
        font-size: 17px;
    }
}
