* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --primary: #111111;
    --secondary: #303030;
    --basic: #9A9A9A;
    --green: #4BA1A7;
    --white: #ffffff
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-ExtraBold.woff2') format('woff2'),
        url('../fonts/Inter-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/WorkSans-Regular.woff2') format('woff2'),
        url('../fonts/WorkSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Bold.woff2') format('woff2'),
        url('../fonts/Inter-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/WorkSans-SemiBold.woff2') format('woff2'),
        url('../fonts/WorkSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/WorkSans-Medium.woff2') format('woff2'),
        url('../fonts/WorkSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
html {
	color: var(--primary);
	font-size: 10px;
	line-height: 1.5;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
	margin: 0;
	padding: 0;
	color: var(--primary);
	font-family: 'Work Sans', Arial, Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
	background-color: var(--white);
}
body p {
	font-size: inherit;
	font-family: inherit;
	line-height: inherit;
	color: inherit;
	font-weight: inherit;
}

p {
	font-size: inherit;
	font-family: inherit;
	color: inherit;
	line-height: inherit;
	font-weight: inherit;
	text-transform: inherit;
}
a {
	font-family: inherit;
	font-weight: inherit;
	text-decoration: underline;
	color: var(--primary);
	font-size: inherit;
	transition: all 0.3s;
}
.elementor p a {
	font-weight: 700;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
	color: var(--primary);
}
body a:hover,
body p a:hover {
    color: var(--primary);
	text-decoration: none;
}
.container {
    max-width: 1210px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
